<div ng-controller="termcontroller as termctrl">
    <h3 class="text-center">Terms</h3>
    <h2>1.B2C (Business to Consumer): The most common form, where businesses sell directly to consumers (e.g., Amazon, Shopify stores).

        2.B2B (Business to Business): Companies sell products or services to other businesses (e.g., Alibaba).
        
        3.C2C (Consumer to Consumer): Individuals sell directly to other consumers, often through platforms like eBay, Craigslist, or Poshmark.
        
        4.C2B (Consumer to Business): Consumers sell their products or services to businesses (e.g., freelance platforms like Upwork).</h2>
        </div>
    </div>
</div>